#for development:-
# NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
# BACKEND_URL=http://localhost:3000

# for production:-
# BACKEND_URL=https://musical-eosin.vercel.app
# NEXT_PUBLIC_BACKEND_URL=https://musical-eosin.vercel.app


#req for both cases:-
# MONGOOSE_PASSWORD=
# YOUTUBE_API_KEY=

#add the variables mentiones in the contribute.md if you wanna acess sign-in feature.