#for development:-
# NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
# BACKEND_URL=http://localhost:3000

# for production:-
# BACKEND_URL=https://musical-eosin.vercel.app
# NEXT_PUBLIC_BACKEND_URL=https://musical-eosin.vercel.app


#req for both cases:-
# MONGOOSE_PASSWORD=
# YOUTUBE_API_KEY=



# OPTIONAL:-
#  add the variables mentiones if you wanna acess sign-in feature.
# make a new project and add this, you will also need to change all the urls of the auth/.../route.js to your project
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# NEXTAUTH_SECRET=
# NEXTAUTH_URL=